<footer class="footer">
  <div class="container">
    <div class="footer__container">
      <div class="footer__item">
        <span class="footer__sign">@ALS ZorgThuis 2017 |</span>
        <span class="footer__sign"> Privacy Statement |</span>
        <span class="footer__sign"> Disclaimer</span>
      </div>
      <div class="footer__item">
        <a href="#"><img src="./assets/img/footer/footer-logo.png" alt="footer-logo" class="footer__logo"></a>
        <a href="https://www.negeso.com/" target="blank" class="footer__link">Web Design & CMS by Negeso ®</a>
      </div>
    </div>
  </div>
</footer>