<section class="section products">
  <div class="container">
    <div class="products__block">
      <div class="products__item">
        <div class="products__pic">
          <img src="./assets/img/products/products-img-1.png" alt="products-img" class="products__img">        
        </div>
      </div>
      <div class="products__item products__item--text">
        <div class="products__desc">
          <h2 class="products__title title">RIS Sanering</h2>
          <p class="products__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente nulla dolorum, nobis quas eveniet totam. Rem deleniti nihil perspiciatis hic.</p>
          <p class="products__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, assumenda nisi? Rerum et distinctio autem porro eveniet cumque. Velit non accusantium eius facilis dolor? Odit hic minima officia dicta. Atque at nisi recusandae aliquam minus a nam provident repellat officiis.</p>
        </div>
      </div>
    </div>
    <div class="products__block products__block--bottom">
      <div class="products__item products__item--text">
        <div class="products__desc">
          <p class="products__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta ducimus quae ipsum expedita molestias suscipit? Pariatur illo iste nihil alias quas dolorum blanditiis architecto sunt, magnam necessitatibus similique harum dolore obcaecati ullam voluptas laudantium eius deserunt facilis voluptatibus accusantium molestias quae. Alias magnam neque, mollitia ut possimus dolorum consequatur delectus?.</p>
          <p class="products__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque, ratione!</p>
        </div>
      </div>
      <div class="products__item">
        <div class="products__pic">
          <img src="./assets/img/products/products-img-2.png" alt="products-img" class="products__img">
        </div>
      </div>      
    </div>
  </div>
</section>