<section class="section services" id="services">
  <div class="services__bg">
    <img src="./assets/img/services/services-bg.png" alt="services-pic" class="servicec__pic">
  </div>
  <div class="container">
    <h2 class="services__title title">Kortom RIS Sanering</h2>
    <div class="services__container">
      <div class="services__block">
        <div class="services__item">
          <div class="services__icon">
            <i class="icon icon--check"></i>
          </div>
          <p class="services__name">Denkt mee:</p>
          <p class="services__text">Zoekt samen met u naar praktische oplossingen.</p>
        </div>
        <div class="services__item">
          <div class="services__icon">
            <i class="icon icon--list"></i>
          </div>
          <p class="services__name">Luistert:</p>
          <p class="services__text">Vertaalt uw wensen naar mogelijkheden.</p>
        </div>
        <div class="services__item">
          <div class="services__icon">
            <i class="icon icon--clock"></i>
          </div>
          <p class="services__name">Is flexibel:</p>
          <p class="services__text">Indien nodig in één dag operationeel vanuit onze</p>
        </div>
      </div>
      <div class="services__block">
        <div class="services__item">
          <div class="services__icon">
            <i class="icon icon--user"></i>
          </div>
          <p class="services__name">Is deskundig:</p>
          <p class="services__text">Gebaseerd op jarenlange ervaring en onderzoek en onderzoek en top de hoogte van de laatste moderne ontwikkelingen.</p>
        </div>
        <div class="services__item">
          <div class="services__icon">
            <i class="icon icon--users"></i>
          </div>
          <p class="services__name">Werkt samen:</p>
          <p class="services__text">Ondersteunt als onafhankelijke partij infra- en milieu aannemers.</p>
        </div>
        <div class="services__item">
          <div class="services__icon">
            <i class="icon icon--cogs"></i>
          </div>
          <p class="services__name">Kiest voor duurzaam:</p>
          <p class="services__text">Wij kiezen voor technisch hoogwaardige en duurzame oplossingen</p>
        </div>
      </div>
    </div>
  </div>
</section>