//  Variables

// Colors

$color_white:               #ffffff;
$color_black:               #000000; //titles
$color_black-light:         #232323; //header links
$color_navy:                #0f6ea9; //header links hover
$color_blue:                #0065a4; //new__date, btn
$color_violet:              #312e5c; //news__title
$color_gray-light:          #e9e8ec; //news__item border
$color_blue-light:          #6194ca; //service__item bg
$color_blue-dark:           #085489; //service__icon
$bgcolor_blue:              #034168; //footer bg




// Fonts
$primary_font: 'Lato', sans-serif;
$second_font: 'Open Sans', sans-serif;

$font-size-base: 10px;

$time: 0.3s;


// Social
// $socials: (
//         fb: #12699b,
//         tw: #12699b,
//         yb: #12699b,
//         inst: #12699b,
//         vk: #12699b,
//         goo: #12699b,
//         rss: #12699b
// );
