.footer {
  background-color: $bgcolor_blue;
  padding: 50px 0;
  &__container {
    display: flex;
    justify-content: space-between;
    @media (max-width: 767px) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__item {
    &:first-of-type {
      @media (max-width: 767px) {
        padding-bottom: 10px;
      }
    }  
  }
  &__logo {
    vertical-align: middle;
    margin-right: 5px;
  }
  &__sign {
    font-family: $second_font;
    font-size: 14px;
    color: $color_white;
  }
  &__link {
    font-family: $second_font;
    font-size: 14px;
    color: $color_white;
    transition: border .3s linear;
    &:hover {
      color: $color_navy;
      padding-bottom: 10px;
    }
  }
}