.services {
  background: rgb(8, 84, 137);
  position: relative;
  & .container {
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
    @media (max-width: 991px) {
      position: static;
    }
  }
  &__bg {
    max-width: 1620px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 50px 100px;
    opacity: .7;
    @media (max-width: 991px) {
      display: none;
    }
  }
  @media (max-width: 991px) {
    padding: 30px 0;
  }
  &__title {
    color: $color_white;
    padding-bottom: 70px;
    @media (max-width: 1365px) {
      padding-bottom: 20px;
    }
  }
  &__block {
    display: flex;
    justify-content: space-between;
    &:first-of-type {
      margin-bottom: 30px;
      @media (max-width: 991px) {
        margin-bottom: 0;
      }
    }
    @media (max-width: 991px) {
      flex-direction: column;
    }
  }
  &__item {
    width: 32%;
    background-color: $color_blue-light;
    padding: 20px;
    text-align: center;
    @media (max-width: 991px) {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  &__icon {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: $color_blue-dark;
    @media (max-width: 1199px) {
      width: 70px;
      height: 70px;
    }
  }
  &__name {
    padding-top: 20px;
    padding-bottom: 25px;
    color: $color_white;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    @media (max-width: 1199px) {
      padding-bottom: 10px;
      font-size: 16px;
    }
  }
  &__text {
    color: $color_white;
    font-size: 14px;
  }
}

.icon {
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  display: block;
  @media (max-width: 1199px) {
    background-size: 45px auto;
  }
  &--check {
    background-image: url("../img/services/check-mark.png");
  }
  &--list {
    background-image: url("../img/services/check-list.png");
  }
  &--clock {
    background-image: url("../img/services/clock.png");
  }
  &--user {
    background-image: url("../img/services/user.png");
  }
  &--users {
    background-image: url("../img/services/users.png");
  }
  &--cogs {
    background-image: url("../img/services/cogs.png");
  }
}